export PGHOST='${pghost}'
export PGUSER='${pguser}'
export PGPASSWORD='${pgpassword}'
export PGDATABASE='${pgdatabase}'
export PGSSLMODE='${pgsslmode}' # Often 'disable' for private IP, 'require' if enforced